.contenedorR{ display: grid;
   

    grid-template-columns: repeat(2 ,100px)}
    .contenedorR div{ border: solid 2px coral;}

    form{
        display: grid;
        justify-content: center;
        align-items: center;


    }