.contenedorR{ display: grid;
    border: solid 2px coral;

    grid-template-columns: repeat(2 ,100px)}
    .contenedorR {

    form{
        display: grid;
        justify-content: center;
        align-items: center;


    }